
 <mat-drawer-container class="container" autosize>
        <mat-drawer [ngClass]="{'show-sidebar': userLoggedIn}" #drawer class="sidenav" mode="side">

            <img class="logo" src="assets/png/logo.png">
            <mat-list>
                <mat-list-item> Pepper </mat-list-item>
                <mat-list-item> Salt </mat-list-item>
                <mat-list-item> Paprika </mat-list-item>
               </mat-list>
          </mat-drawer>
        
          <div class="sidenav-content" [ngClass]="{'show-sidebar-toggle': userLoggedIn}" >
            <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
          </div>
  
   <router-outlet></router-outlet>

  </mat-drawer-container>
